header{
    text-align: center;
    color: white;
}
body{
    background-color: #191919;
}
article{
    color: white;
}
footer{
    color: red;
    margin-bottom: 10%;
}
table{
    border: solid;
    border-color: white;
    border-radius: 2px;
    border-width: 1px;
    color: white;
}
