header{
    text-align: center;
    color: white;
}
body{
    background-color: #191919;
}
article{
    color: white;
}
footer{
    color: red;
    margin-top: 250px;
}
table{
    border: solid;
    border-color: white;
    border-radius: 2px;
    border-width: 1px;
    color: white;
}

p{
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

div{
    color: white;
    text-align: center;
}